<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>用户管理</h5>
                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" ng-click="modalDialog()">
                        <i class="fa fa-plus"></i>
                        新建用户</button>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail2">用户名</label>
                            <input type="email" placeholder="请输入用户名" id="exampleInputEmail2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2">性別</label>
                            <input type="password" placeholder="请输入密码" id="exampleInputPassword2" class="form-control">
                        </div>
                        <button class="btn btn-sm btn-primary " style="margin-top:4px;" type="submit"><i class="fa fa-search"></i>查询</button>

                    </form>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>年龄</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="user in users">
                            <tr>
                                <td>{{ user.Id }}</td>
                                <td>{{ user.Name }}</td>
                                <td>{{ user.Sex }}</td>
                                <td>{{ user.Age }}</td>
                                <td>
                                    <a href="projects.html#" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> 查看 </a>
                                    <a href="projects.html#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> 编辑 </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
